{{!-- <main>
    <section id="home-page" class="background-image">
        <div class="home-container">

            <div class="info">
                <h1>Discover Your Perfect Home</h1>
                <h2>The Best Real Estate Deals</h2>
            </div>

        </div>
    </section>

    <section id="top-houses">
        <h1>Top Houses</h1>
        <div class="houses">

            {{#each housings}}
            {{> housing-card-home}}
            {{else}}
            <!-- If there are still no offers for housing in the database display: -->
            <div class="no-data-container">
                <p class="no-data">There are no housing offers found...</p>
            </div>
            {{/each}}
        </div>
    </section>
</main> --}}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Video Tutorials</h1>
            <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
        </div>
    </div>

    <div>
        <h1 class="text-center">All Courses</h1>
        <div class="container mt-3">

            {{#each courses}}
            {{> course}}
            {{else}}
            <!-- If there are still no courses in the database display: -->
            <h4 class="text-center">No courses...</h4>
            {{/each}}
        </div>
    </div>

</main>